* {
    margin: 0px;
    padding: 0px
}

body {
    background-color: rgb(149, 168, 228);
    font-family: sans-serif;
}

.main_container h1{
    color:white;
    text-align: center;
    padding:30px;
    font-weight:bolder;
    font-size: 40px;
}
.container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.image{
    margin:20px;
    padding:20px;
    border: solid 1px grey;
    border-radius: 5px 0px 5px 0px;
    background-color:azure ;
    color:brown;
    text-align: center;
}  
img{
    border: solid 1px grey;
    margin-bottom: 10px;
}